{% if competition.type == "soccer-world-cup" or competition.type == "soccer-america-cup" %}
    <span class="event event-{{ eventName|slugify }}"></span>
{% else %}
    <span class="team team-{{ eventName|slugify }}"></span>
{% endif %}